useDynLib(AirlineDelays)

export(getDelayTable)
export(getDelayTable_thread)
export(getListOfFiles)
export(checkInputsForErrors)

# exporting all the functions for testing purposes 
export(getFieldNum)
