useDynLib(AirlineDelays)

export(getDelayTable)
export(getDelayTable_thread)
export(getListOfFiles)

# exporting all the functions for testing purposes 
# the following should be hidden instead 
export(checkInputsForErrors)
export(getFieldNum)
